@use "./variable" as *;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $background;
    color: $text;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    background-image: url('public/bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6{
    color: $highlight;
    font-family: 'Raleway', sans-serif;
}

bold, strong{
    color: $highlight;
}
