@use "./reset" as *;
@use "./variable" as *;

.contact{
    &_info{
        margin-top: 50px;
        &_container{
            background: $card;
            padding: 50px;
            border-radius: 20px;
        }
        li{
            .icon{
                background: $highlight;
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                border-radius: 10px;
            }

            .info{
                p{
                    margin: 0;
                    font-size: 20px;
                    &:last-child{
                        color: $highlight;
                    }
                }
            }

            &:not(:last-child){
                margin-bottom: 36px;
            }
        }
    }
    &_form{
        background: $card;
        padding: 50px;
        border-radius: 20px;

        label, input, textarea, button{
            display: block;
            width: 100%;
        }
        label{
            margin-bottom: 8px;
            font-size: 20px;
        }

        input{
            height: 50px;
        }

        input, textarea{
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            outline: none;
            background: transparent;
            color: $text;
            border: 1px solid $highlight;

            &:is(:focus, :active, :focus-visible){
                border-color: $text;
            }
        }
        textarea{
            height: 120px;
        }

        button{
            background: $highlight;
            color: $text;
            height: 50px;
            border-radius: 10px;
            outline: 0;
            border: 0;

            &:hover{
                background: $hover;
            }
        }
    }
}