@use "./reset" as *;
@use "./variable" as *;

header {

   @include mmd{
      padding: 0px 20px;
   }
   .container {
      background: $card;
      padding: 19px 40px;
      border-radius: 50px;
      margin-top: 20px;

      @include mmd{
         padding: 10px 20px;
         border-radius: 30px;
      }
   }
   ul {
      padding: 0;
      margin-bottom: 0;
      
      &.nav-menu{
         @include mmd{
            gap: 10px!important;
         }
      }
   }
   li {
      list-style: none;
      a {
         color: $highlight;
         text-decoration: none;
         position: relative;

         span{

            &.icon{
               background: $white;
               height: 34px;
               width: 34px;
               display: flex;
               align-items: center;
               justify-content: center;
               border-radius: 50%;
               display: none;

               @include mmd{
                  display: flex;
               }
            }

            &.text{
               @include mmd{
                  display: none;
               }
            }
         }

         &:hover{
            span{
               &.icon{
                  background: $highlight;
                  color: $white;
               }
            }
         }

         &::after{
            content: '';
            height: 1px;
            width: 0;
            background: $highlight;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -4px;
            transition: 0.4s all ease-in-out;

            @include mmd{
                display: none;
            }
         }

         &:hover,
         &.active{

            &::after{
                width: 100%;
            }

            span.icon{
               background: $highlight;
               color: $white;
            }
         }
      }
   }
   .logo {
      font-size: 26px;
      font-weight: 700;
      line-height: 1;

      a{
         color: $white;
         text-decoration: none;
      }
   }
}
