@use "./reset" as *;
@use "./variable" as *;

.settings{
    &_container{
        position: fixed;
        bottom: 0;
        height: auto;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        z-index: 9999;
        color: black;
        padding: 50px 0;
        max-height: 50vh;
        overflow: auto;
        transition: 0.5s all ease-in-out;
        transform: translateY(100%);

        .closeColorSetting{
            position: absolute;
            right: 0;
            background: none;
            border: 0;
            text-decoration: underline;
            text-underline-offset: 4px;
            top: 0;
        }
    }

    &_title{
        color: #333333;
        margin-bottom: 20px;
        text-align: center;
    }

    &_item{
        label{
            display: block;
        }
        input{
            display: block;
            width: 100%;

            &[type="color"]{
                border: 0;
            }
        }
    }

    &_actions{
        button{
            height: 46px;
            padding: 4px 40px;
            border: 0;
            font-size: 18px;
            line-height: 1;
            text-transform: uppercase;
            color: #ffffff;
            transition: 0.3s all ease-in-out;
            border-radius: 4px;

            &:hover{
                transform: scale(1.05);
            }

            &.save{
                background: #4caf50;
            }

            &.reset{
                background: #D64545;
            }
        }
    }
}

.showColorSetting{
    position: fixed;
    bottom: 50px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    
    svg{
        animation: spin 2s linear infinite;
        width: 20px;
    }
}